[submodule "hw01"]
	path = hw01
	url = git@github.com:liam-strand/cs105-hw01.git
[submodule "ramsey-code"]
	path = ramsey-code
	url = git@github.com:nrnrnr/build-prove-compare-student-code.git
[submodule "hw02"]
	path = hw02
	url = git@github.com:liam-strand/cs105-hw02.git
[submodule "hw03"]
	path = hw03
	url = git@github.com:liam-strand/cs105-hw03.git
[submodule "hw04"]
	path = hw04
	url = git@github.com:liam-strand/cs105-hw04.git
